<div class="pos">
    <div class="vehicleForm">
      <form [formGroup]="form"  (ngSubmit)="onSubmit($event)" >
        <h1 class="title">{{ vehicle ? 'Edit' : 'Add' }}  Vehicle</h1>
        
          <div class="Inputs">
            <div class='textboxes'>
                <ejs-textbox class="form-control" placeholder="Vehicle Owner" floatLabelType="Always" formControlName="vechileOwner" [ngModel]="data?.vechileOwner"></ejs-textbox>
              </div>
            <div class='textboxes'>
                <ejs-textbox class="form-control"  type="text" placeholder="Driver" floatLabelType="Always" formControlName="vechileDriver" [ngModel]="data?.vechileDriver"></ejs-textbox>
              </div>
              <div class='textboxes'>
                <ejs-textbox class="form-control"  type="text" placeholder="type"  floatLabelType="Always" formControlName="vechileType" [ngModel]="data?.vechileType"></ejs-textbox>
              </div>
            <div class='textboxes'>
              <ejs-maskedtextbox class="form-control"  mask='000-000-0000' formControlName="vechileModel" [ngModel]="data?.vechileModel" ></ejs-maskedtextbox>
             </div> 

          </div>
            <div class="buttons">
            <div>
              <button class="btn-success"> {{ vehicle ? 'Update' : 'Save' }} </button>
            </div>
            <a routerLink="/feature/vehicle/vehicle/list">back to list</a>
          </div>
      </form>
    </div>
  </div>
