.list_view{
    background: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,.1);
    border-radius: 3px;
    padding: 10px; 
    max-width: 80%;
    margin: 10px auto;
    border: 1px solid rgb(14, 17, 233);
}
.backlink{
    margin-top: 2%;
}


  .button{
      margin-left: 80%;
  }