<div class="product">
  <div *ngIf="productList.length">
    <div class="list">
      <h3>Product List</h3>
      <ejs-grid [dataSource]='productList' [allowPaging]="true" [allowSorting]="true"
        [allowFiltering]="true" [pageSettings]="pageSettings">
          <e-columns>
              <e-column field='name' headerText='Name' textAlign='left' width=20%></e-column>
              <e-column field='quality' headerText='Quality' textAlign='left' width=20%></e-column>
              <e-column field='exDate' headerText='Expair Date' textAlign='left' width=20%></e-column>
              <e-column field='content' headerText='Content' textAlign='left' width=20%></e-column>
          </e-columns>
         
          </ejs-grid>
        </div>
    </div>
    <div *ngIf="!productList.length">
      <h3>You Have No Product Please Add New Product</h3>
  </div>
  <!-- <button ejs-button cssClass="e-success" content="Button"></button> -->
  <button ejs-button cssClass='btn-success'><a cssClass='btn-success' routerLink="/feature/product/product/detail">Add Product</a></button>
   <!-- <button class="btn-success" routerLink="/feature/product/product/detail"><img src="assets/img/add.svg" routerLink="/feature/product/product/detail/product/detail">Add Product</button> -->
</div>
<!-- 
<div class="product">
    <div *ngIf="productList.length">
      <h3>Product List</h3>
        <table class="table table-bordered">
          <tr>
            <th >Product Name</th>
            <th >Quality</th>
            <th >Expired Date</th>
            <th >Quantity</th>
          </tr>
           <tr *ngFor="let product of productList"> 
            <td>{{product.name}}</td>
            <td>{{product.quality}}</td>
            <td>{{product.exDate}}</td>
            <td>{{product.content}}</td>
            <td><img src="/assets/img/remove.svg" (click)="deleteProduct(product.id)"></td>
            <td><img src="/assets/img/pencil.png" (click)="editProduct(product.id)"></td>
          </tr>
        </table>
    </div>
    <div *ngIf="!productList.length">
        <h3>You Have No Product Please Add New Product</h3>
    </div>
     <button class="btn-success" routerLink="/feature/product/product/detail"><img src="assets/img/add.svg" routerLink="/feature/product/product/detail/product/detail">Add Product</button>
  </div>
   -->
  