.header{
    display: flex;
}
img{
    width: 40px;
    height: 40px;
    margin-left: 20%;
}
h1{
    font-size: 24px;
    color: blue;
    text-align: center;
    padding: 10px,10px, 10px, 10px;
    margin-left: 2%;
    margin-top: 10px;
    margin-top: 10px;
}
button{
    color: blue;
    text-align: center;
    padding: 0 0 0 0;
    margin-left: 45%;  
    border: none;
    margin-top: 20px;
}
a{
    padding-left: 45%;
    text-decoration: none;
}