.header{
    display: flex;
    background: rgb(243, 230, 230);
}
img{
    width: 80px;
    height: 60px;
    margin-left: 40%;
}
h1{
    font-size: 24px;
    color: blue;
    text-align: center;
    padding: 10px,10px, 10px, 10px;
    margin-left: 2%;
    margin-top: 10px;
    margin-top: 10px;
}
button{
    /* color: blue; */
    text-align: center;
    padding: 2px 0 2px 2px;
    margin-left: 30%;  
    margin-top: 3px;
    margin-bottom: 3px;
    /*border: none;
   max-width: 70px;*/
   max-height: 45px; 
}
a{
    padding-left: 40%;
    text-decoration: none;
    margin-top: 15px;

}
a:hover{
   color : green;
}