.pos{
    width: 100%;

}
.loginform{
    /* background: #fff; */
    box-shadow: 0 3px 4px rgba(0,0,0,.1);
    border-radius: 3px;
    padding: 10px; 
    max-width: 550px;
    /* text-align: center; */
    margin: 10px auto;
    border: 0.5px solid rgb(159, 160, 184);
}
label{
    text-align: left;
    margin-top: 5%;
} 

input,button{
    text-align: left;
    margin-bottom: 10px;
}
.Inputs{
    display: block;
    margin-left: 5%;
    margin-right: 8%;
    /* width: max-content; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
.fildes{
    background-color: aliceblue;
    padding: 5px;
}

  .containers{
    display: flex;

  }
  .error{
      color: rgb(150, 11, 11);
      text-align: center;
  }


  .buttons{
       text-align: center;
       padding-bottom: 10px;
  }