
.control-section {
    margin: 0 auto;
    width: 500px;
}

.dashboard{
    margin: 3%;
}
.first{
    background-color: green;
    height: 50px;
    width: 50px;
}

#defaultLayout {
    padding: 10px;
}

#defaultLayout .e-panel .e-panel-container {
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.text-align {
    line-height: 90px;
}
p{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5%;
}
a{
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5%;
}
h3{
    color: white;
    font-size: 24px;
    margin-left: 5%;

}
img{
    width: 40px;
    height: 40px;
}