<div class="container-fluid">
<div *ngIf="!(data|async)">
    <h3>Loading ... ... </h3>
</div>
<div *ngIf="data|async as data">
    <div class="header">
        <h3>{{title}}</h3>
        <div class="link">
         <button class="btn-success" routerLink={{link}}>{{link_name}}</button>
       </div>
    </div>
        <ejs-grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true" [pageSettings]='pageSettings'>
            <e-columns>
                <!-- <e-column *ngFor="let li of list" field=*ngFor="let li of list"headerText={{li.Title}} textAlign='left' width=15%></e-column> -->
                <e-column *ngFor="let li of list" field={{li.name}}   headerText={{li.text}}  textAlign='left' width=15%></e-column>
                <!-- <e-column field='driver' headerText='Driver'width=15%></e-column>
                <e-column field='start' headerText='Start' textAlign='left' width=15%></e-column>
                <e-column field='destination' headerText='Destination' textAlign='left' width=15%></e-column>
                <e-column field='status' headerText='Status' width=10%></e-column>-->
                <e-column field='viewdetail' headerText='Action' textAlign='Right' width=20%> 
                    <ng-template #template let-data>
                        <div>
                            
                            <button *ngIf="order" class="btn-success" (click)="delivered(data.id)">Delivered</button>
                            <button class="btn-danger" (click)="delete(data.id)">Delete</button>
                            <button class="btn-info"  (click)="detail(data.id)">Detail</button>
                        </div>
                    </ng-template>
                </e-column>
            </e-columns>
        </ejs-grid>
</div>
</div>
