<app-grid-list2 
[list]="list"
[data]="deliveryList"
(deleteEvent)="deleteOrder($event)"
(detailEvent)="detalilOrder($event)"
[link]="link"
[link_name]="link_name"
>
</app-grid-list2>


<!-- <app-list-view>
    <h1>Delivery List</h1>
    <thead>
        <th>Ordered By</th>
        <th>Driver</th>
        <th>Start</th>
        <th>Destination</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let deli of deliveryList | async ">
            <td>{{deli.orderedBy}}</td>
            <td>{{deli.driver}}</td>
            <td>{{deli.start}}</td>
            <td>{{deli.destination}}</td>
            <td>{{deli.status ? "Delivered" : "Pending"}}</td>
            <td><img src="/assets/img/remove.svg" (click)="deleteDelivery(deli.id)"></td>
            <td><img src="/assets/img/pencil.png" (click)="editDelivery(deli.id)"></td>
        </tr>
    </tbody>
    <button class="btn-success" routerLink="/feature/delivery/delivery/detail">Requst</button>
    <a>back to List</a>
</app-list-view> -->
